*{
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content{
  margin-bottom: 130px;
}

.select-movie{
  max-width: 400px;
}

.nav-login-btn-mobile{
  display: none;
}

.form-login{
  max-width: 500px;
}

@media (max-width: 768px){
  .nav-login-btn{
    display: none;
  }
  .nav-login-btn-mobile{
    display: unset;
  }
  .form-login{
    padding: 0 15px;
  }
  .form-login > button{
    width: 100%;
  }

  .carousel .carousel-item {
    height: 180px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 180px;
  }

  .navbar-toggler{
    transform: scale(.65);
  }
  
}
